# Ignore raw and processed data files
data/raw/*
data/processed/*

# Ignore Excel files
*.xls
*.xlsx
*.xlsm

# Ignore CSV outputs
*.csv

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore backup files
*.bak
*.swp
